<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body bgcolor="grey" align=center style="color: aliceblue;">
    <div>
        <form action="login" method="post">

            {% csrf_token %}
            <h1><u><i>login</i></u></h1>
            <hr width="200px">
            username=<input type="text" name="user"><br>
            password=<input type="text" name="pass" ><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>